@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
*{
    font-family: "Dosis", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
  width: 100vw;
  height: 100vh;
}
body{
  width: 100%;
  height: 100%;
}
.center_Div{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 500;
}